

body {
    background-color: #242424;
    color: #fff;
}

.top_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
    width: 100vw;
    margin: 0 auto;
    height: 10vh;
}

.top_nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.top_nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}
.top_nav ul li a:hover {
    color: #c4f9ff;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    margin: 0 auto;
}

.layout main {
        padding: 10px 20px;
        min-height: 70vh;
}

.layout footer {
    height: 10vh;
    padding: 20px 0;
    width: 100vw;
    text-align: center;
    border-top: 1px solid #fff;
    background-color: #242424; 
    color: #ffffff; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo_form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

label {
    font-size: 1.2em;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.todo {
    display: flex;
    gap: 5px;
}